header {
  background-color: white;
}

.ms_nav {
  background-color: rgb(23, 33, 41);
  height: 200px;
}
.ms_left {
  background-color: red;
}
.ms_right {
  background-color: yellow;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  line-height: 80px;
}

.jumbo {
  position: relative;
  background-color: #1abc9c;
  height: 450px;
}
.jumbo_central_space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin-top: 80px;
  text-align: center;
  color: white;
  background-color: purple;
}

#portfolio {
  /* margin-bottom: -30px; */
}
.container_page {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.container_page h2 {
  font-size: 3em;
  line-height:2em;
  text-align: center;
}
.line_division {
  margin: 1.25rem 0 1.5rem;
  height: 200px;
  width: 100%;
  display: inline;
  text-align: center;
  /* align-items: center; */
  background-color: brown;
}
.co-xs-12.col-md-6.col-lg-4 {
  /* position: relative; */
  height: 80px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: green;
}

.page_section {
  padding: 30px 0;
  margin-bottom: 0;
  background-color: #1abc9c;
  color:white;
}

.container_about h2 {
  font-size: 3em;
  line-height:2em;
  text-align: center;
  text-transform: uppercase;

}
.ml_auto {
  margin-left: auto;
}
.mr_auto {
  margin-right: auto;
}
/* .button_central {
  text-align: center;
} */
.page_contact {
  padding: 30px 0;
  margin-bottom: 0;
}
.container_contact h2 {
  font-size: 3em;
  font-weight: bold;
  line-height:2em;
  text-align: center;
  text-transform: uppercase;
}
.container_contact {
  font-size: 10px;
  line-height:1.5em;
  text-align: center;
  text-transform: uppercase;
}
.page_footer {
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
}
.ms_copyright {
  background-color: #1a252f;
  /* text-align: center; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.ms_locaion {
  margin-bottom: 20px;
}
.btn_social {
  border-radius: 100%;
  display: inline-block;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  color: #f8f9fa;
  border-color: #f8f9fa;
  text-align: center;
  vertical-align: middle;
}
